@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&family=Space+Mono:wght@400;700&display=swap");
:root {
    overflow-x: hidden;
    margin: 0;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "Space Mono", monospace;
    /* background: lightcoral;
    min-height: 100vh; */
}

.content {
    min-height: 100vh;
}

.top-container {
    padding-top: 20px;
    padding-left: 24px;
    box-sizing: border-box;
}

.top-container h2 {
    font-family: "Inconsolata", monospace;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -2px;
    word-spacing: 8px;
}

.mid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    box-sizing: border-box;
}

.left-col {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 0;
    box-sizing: border-box;
}

.left-col img {
    width: 288px;
    margin-bottom: -40px;
}

.right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 488px;
}

.right-col h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.56;
    word-spacing: -4px;
    margin-bottom: -12px;

    /* margin: 0;
    padding: 0; */
}

.right-col p {
    color: #4f4f4f;
    font-size: 16.5px;

    /* font-size: 24px; */
    /* width: 396px; */
    /* padding-top: ; */
    margin: 0;
    padding: 0;
}

.right-col button {
    /* margin: 56px 0 128px; */
    width: 208px;
    height: 64px;
    background: #333333;
    color: #fff;
    font-family: "Space Mono", monospace;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: 20ms;

    margin: 16px 0 64px;
    width: 224px;
    height: 72px;
}

.right-col button:hover {
    background: #4f4f4f;
}
footer {
    display: block;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 24px 32px;
    box-sizing: border-box;
    color: #bdbdbd;
}

/* @media (max-width: 373px){footer {padding: 24px;}} */

footer span {
    text-decoration: underline;
}

/* LAPTOP AND DESKTOP MEDIA QUERY */

@media (min-width: 1200px) {
    .top-container {
        padding-top: 32px;
        padding-left: 64px;
    }
    .top-container h2 {
        font-size: 24px;
        word-spacing: 4px;
    }
    .mid-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: /*168px*/ 32px 64px /*256px*/ 32px;
    }
    .left-col {
        width: auto;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 24px 128px 24px 0;
    }
    .left-col img {
        width: 536px;
        margin-bottom: 0;
    }
    .right-col {
    }
    .right-col h1 {
        font-size: 64px;
        /* padding-top: 32px; */
    }
    .right-col p {
        font-size: 24px;
        width: 396px;
        /* padding-top: ; */
    }
    .right-col button {
        margin: 56px 0 0;
        width: 224px;
        height: 72px;
    }
}